<!-- 
<!DOCTYPE html>
<html>
   <head>
 
    
      <style>
         .button {
          align-content: center;
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>
   </head>
   <body>
      <a routerLink="/ngo-update" class="button">Upadate Profile</a>
  
   </body>
</html>


<table>
    <tr>
        <td>{{user.ngo_id}} </td>
        <td>{{user.ngo_name}} </td>
        <td>{{user.address}} </td>
        <td>{{user.state}} </td>
        <td>{{user.district}} </td>
        <td>{{user.city}} </td>
        <td>{{user.contactPerson}} </td>
        <td>{{user.phonenumber}} </td>
        
    </tr>
</table> -->
<h1 style="text-align:center;">NGO_PROFILE</h1>

<table class="table table-hover table-dark">
    <thead>
        
      <tr>
        <th scope="row">NGO_ID</th>
        <th scope="row">NGO_Name</th>
        <th scope="row">ADDRESS</th>
  
        <th scope="row">STATE</th>
      
     
        <th scope="row">DISTRICT</th>
      
    
        <th scope="row">CITY</th>
      
     
        <th scope="row">CONTACT_PERSON</th>
     
        <th scope="row">PHONE_NUMBER</th>
      
      </tr>
    </thead>
    <tbody>
      
            <td>{{user.ngo_id}} </td>
            <td>{{user.ngo_name}} </td>
            <td>{{user.address}} </td>
            <td>{{user.state}} </td>
            <td>{{user.district}} </td>
            <td>{{user.city}} </td>
            <td>{{user.contactPerson}} </td>
            <td>{{user.phonenumber}} </td>
            
      

    </tbody>
   
   
 
      
      

  
    
    
        

  </table>