<!-- <p>home works!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmRV0GpdIdnRCMz5--1iHtdGT7zsvjPBw2DM-VdgHe5xSkcYApVA&s">
<div>
<h1>Login</h1>

<a routerLink="/parent">Parent</a> |
<a routerLink="/ngo">NGO</a>
</div>


<p>home works!</p> -->


<!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmRV0GpdIdnRCMz5--1iHtdGT7zsvjPBw2DM-VdgHe5xSkcYApVA&s" > -->

<div class="image">
   <!-- <h1 style="text-align:center;">LOGIN</h1> -->

<!-- <a routerLink="/parent">Parent</a> |
<a routerLink="/ngo">NGO</a> -->



    
   <div >
      
   <div style="text-align: center; padding-top: 40%;">
      <h1 style="text-align:center;">LOGIN</h1>
      <a routerLink="/login" class="button">Parent</a>
      <a routerLink="/ngologin" class="button">NGO</a>
   </div>
</div>
</div>


